{% comment %}
  Shopify Wishlist
  Usage:
    - Markup: {%- render 'button-wishlist', product: product -%}
    - Place this snippet inside your existing product card snippet
  Parameters:
    - product: <Shopify product> (required)
{% endcomment %}
{%- if product.handle != blank -%}
    {%- assign handle1 = product.handle -%}
    {%- if product.selected_variant != nil -%}
    {%- assign handle1 = handle1 | append: "?variant=" | append: product.selected_variant.id  -%}
    {%- endif -%}
  <button type="button" aria-label="Add to My Capsule" class="button-capsule" button-wishlist data-product-handle="{{ handle1 }}">
    <svg class="add-to-capsule-heart" width="40" height="41" viewBox="0 -2 26 26" xmlns="http://www.w3.org/2000/svg">
    <path d="M19.9518 9.06725C19.8202 7.66764 19.3952 6.31151 18.7047 5.08725C18.0142 3.86299 17.0736 2.79809 15.9443 1.96197C14.815 1.12585 13.5223 0.537282 12.1504 0.234622C10.7785 -0.0680369 9.35834 -0.0779886 7.98238 0.205416C6.60641 0.488821 5.30558 1.05922 4.16466 1.87943C3.02375 2.69964 2.06837 3.75125 1.3608 4.96571C0.653231 6.18018 0.209357 7.53022 0.0581132 8.92785C-0.0931309 10.3255 0.0516497 11.7393 0.483017 13.0772L0.576641 13.3683L1.15843 13.1811L1.0648 12.89C0.368312 10.7375 0.471289 8.4059 1.35482 6.32335C2.23835 4.24081 3.8431 2.54722 5.87428 1.55367C7.90547 0.560121 10.2267 0.333342 12.4116 0.91499C14.5964 1.49664 16.4982 2.84765 17.7675 4.71986C19.0369 6.59207 19.5886 8.85974 19.3213 11.1063C19.0539 13.3529 17.9855 15.4275 16.3124 16.9491C14.6392 18.4707 12.4735 19.337 10.2133 19.389C7.95304 19.441 5.74994 18.6751 4.00869 17.232L3.77341 17.0363L3.38339 17.5072L3.61867 17.7029C5.14113 18.9652 7.00342 19.7475 8.97009 19.9508C10.9368 20.1541 12.9195 19.7693 14.6677 18.845C16.4159 17.9208 17.8509 16.4986 18.7915 14.7583C19.7321 13.018 20.1359 11.0377 19.952 9.06774L19.9518 9.06725Z" fill="#262626"/>
    <path d="M5.3462 11.7173L10.0115 15.9599L14.6658 11.7248C14.7137 11.6844 14.7584 11.6423 14.8066 11.5966L14.8789 11.5266C15.2013 11.2004 15.4562 10.8138 15.6292 10.3889C15.8021 9.96396 15.8896 9.5091 15.8867 9.05032C15.8867 7.15952 14.4246 5.62122 12.6274 5.62122C12.112 5.62384 11.6049 5.75115 11.1492 5.9923C10.6936 6.23345 10.303 6.58128 10.0108 7.00614C9.71815 6.58138 9.32734 6.23364 8.87159 5.99249C8.41583 5.75135 7.90861 5.62393 7.39308 5.62109C5.59639 5.62109 4.13386 7.1594 4.13386 9.0502C4.13098 9.51045 4.21901 9.96673 4.39289 10.3928C4.56678 10.8189 4.82309 11.2064 5.14709 11.5331L5.2604 11.6395C5.29132 11.6684 5.32212 11.6971 5.3462 11.7173ZM4.74498 9.05093C4.74498 7.49758 5.93299 6.23338 7.39308 6.23338C7.88557 6.23948 8.36644 6.38389 8.78091 6.65015C9.19538 6.91642 9.52678 7.29383 9.73734 7.73939L10.0114 8.29138L10.2848 7.73841C10.4948 7.29281 10.8259 6.91531 11.2401 6.64905C11.6544 6.38278 12.1351 6.23849 12.6274 6.23265C14.0875 6.23265 15.2756 7.49661 15.2756 9.0502C15.2815 9.81324 14.9844 10.5474 14.4496 11.0913L14.3839 11.1549C14.3465 11.1904 14.3106 11.2245 14.2633 11.265L10.0105 15.1332L5.74905 11.2574C5.7246 11.2366 5.70089 11.2145 5.67742 11.1926L5.57415 11.0958C5.30833 10.8262 5.09827 10.5067 4.95599 10.1557C4.81371 9.80463 4.742 9.42898 4.74498 9.0502V9.05093Z" fill="#262626"/>
    </svg>
    <div class="button-circle-filled"></div>
    <span>Add to My Capsule</span>
  </button>
{%- endif -%}