<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<div class="modal-wrapper">
    <div class="modal-inner-wrapper">
        <div class="modal-title-wrapper">
            <h2 class="modal-title">SIZE GUIDE</h2>
            <p class="modal-close">X</p>
        </div>
        <div class="tabs-wrapper">
            <div class="title-wrapper">
                <h4 id="tab1" class="tab-title active">Size chart</h4>
                <h4 id="tab2" class="tab-title">Fit Guide</h4>
                <h4 id="tab3" class="tab-title">How to measure</h4>
                <h4 id="tab4" class="tab-title">Country/Region</h4>
            </div>        
            <div class="inner-wrapper">
                <div class="tab1 individual-tab-content-wrapper active">
                    <div class="title-unit-wrapper">
                        <p>Women's tops</p>           
                        <div class="unit-wrapper">
                            <h3>IN</h3>
                            <label class="switch">
                                <input class="switch-input" type="checkbox" />
                                <span class="switch-label" data-on="On" data-off="Off"></span> <span class="switch-handle"></span> 
                            </label>
                            <h3>CM</h3>
                        </div>                        
                    </div>
                    <div class="table-wrapper inch-table active">
                        <table class="table">                            
                            <thead class="table-column-container">
                                <tr>
                                    <td class="table-column"></td>
                                    <td class="table-column">US Numeric Size</td>
                                    <td class="table-column">Bust/Chest</td>
                                    <td class="table-column">Waist</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table-row-container">
                                    <td class="table-row">XXS</td>
                                    <td class="table-row">0 (000)</td>
                                    <td class="table-row">30.5</td>
                                    <td class="table-row">23</td>
                                </tr>
                                <tr class="table-row-container">
                                    <td class="table-row">XS</td>
                                    <td class="table-row">00 - 0</td>
                                    <td class="table-row">31.5 - 32.5</td>
                                    <td class="table-row">24 - 25</td>
                                </tr>
                                <tr class="table-row-container">
                                    <td class="table-row">S</td>
                                    <td class="table-row">2 - 4</td>
                                    <td class="table-row">33.5 - 34.5</td>
                                    <td class="table-row">26 - 27</td>
                                </tr>
                                <tr class="table-row-container">
                                    <td class="table-row">M</td>
                                    <td class="table-row">6 - 8</td>
                                    <td class="table-row">35.5 - 36.5</td>
                                    <td class="table-row">28 - 29</td>
                                </tr>
                                <tr class="table-row-container">
                                    <td class="table-row">L</td>
                                    <td class="table-row">10 - 12</td>
                                    <td class="table-row">37.75 - 39.25</td>
                                    <td class="table-row">30.25 - 31.75</td>
                                </tr>
                                <tr class="table-row-container">
                                    <td class="table-row">XL</td>
                                    <td class="table-row">18 - 20</td>
                                    <td class="table-row">44.75 - 46.75</td>
                                    <td class="table-row">38 - 40</td>
                                </tr>                            
                            </tbody>                            
                        </table>
                    </div>     
                    <div class="table-wrapper centi-table">
                        <table class="table">                            
                            <thead class="table-column-container">
                                <tr>
                                    <td class="table-column"></td>
                                    <td class="table-column">US Numeric Size</td>
                                    <td class="table-column">Bust/Chest</td>
                                    <td class="table-column">Waist</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table-row-container">
                                    <td class="table-row">XXS</td>
                                    <td class="table-row">0 (000)</td>
                                    <td class="table-row">12</td>
                                    <td class="table-row">9</td>
                                </tr>
                                <tr class="table-row-container">
                                    <td class="table-row">XS</td>
                                    <td class="table-row">00 - 0</td>
                                    <td class="table-row">12 - 13</td>
                                    <td class="table-row">9 - 10</td>
                                </tr>
                                <tr class="table-row-container">
                                    <td class="table-row">S</td>
                                    <td class="table-row">1 - 2</td>
                                    <td class="table-row">11 - 12</td>
                                    <td class="table-row">12 - 13</td>
                                </tr>
                                <tr class="table-row-container">
                                    <td class="table-row">M</td>
                                    <td class="table-row">3 -4</td>
                                    <td class="table-row">14 - 15</td>
                                    <td class="table-row">11 - 11</td>
                                </tr>
                                <tr class="table-row-container">
                                    <td class="table-row">L</td>
                                    <td class="table-row">11 - 11</td>
                                    <td class="table-row">11 - 11</td>
                                    <td class="table-row">11 - 11</td>
                                </tr>
                                <tr class="table-row-container">
                                    <td class="table-row">XL</td>
                                    <td class="table-row">11 - 11</td>
                                    <td class="table-row">11 - 11</td>
                                    <td class="table-row">11 - 11</td>
                                </tr>                            
                            </tbody>                            
                        </table>
                    </div>     
                </div>
                <div class="tab2 individual-tab-content-wrapper fit-guide">
                    <div class="title-unit-wrapper">
                        <p>Everyday reversible dress is a relaxed fit.</p>
                    </div>
                    <div class="modal-slider-wrapper">
                        {% assign slider_collection = collections['womens'] %}
                        {% for product in slider_collection.products limit: 4 %}
                            <div class="modal-product-wrapper">
                                <a href="{{ product.url }}" class="modal-product-link">
                                    <img src="{{ product.selected_or_first_available_variant.image | default: product.featured_media | img_url: '150x' }}">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="bottom-content-wrapper">
                        <p>Relaxed fit</p>
                        <p>Intended to drape loosely on the body.</p>
                    </div>
                </div>
                <div class="tab3 individual-tab-content-wrapper how-measure">
                    <div class="content-wrapper">
                        <div class="left-content-wrapper">
                            <h3>How to measure</h3>
                            <div class="left-content-item-wrapper">
                                <h5>1. Neck</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum in porttitor id lacus sodales non.</p>
                            </div>
                            <div class="left-content-item-wrapper">
                                <h5>2. Sleeve</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum in porttitor id lacus sodales non.</p>
                            </div>    
                            <div class="left-content-item-wrapper">
                                <h5>3. Chest/Bust</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum in porttitor id lacus sodales non.</p>
                            </div>
                            <div class="left-content-item-wrapper">
                                <h5>4. Under bust</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum in porttitor id lacus sodales non.</p>
                            </div>
                            <div class="left-content-item-wrapper">
                                <h5>5. Waist</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum in porttitor id lacus sodales non.</p>
                            </div>
                            <div class="left-content-item-wrapper">
                                <h5>6. Hip</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Bibendum in porttitor id lacus sodales non.</p>
                            </div>
                        </div>    
                        <div class="right-content-wrapper">
                            <img src="https://cdn.shopify.com/s/files/1/0381/8707/3668/files/Group_282.png?v=1664301524">
                        </div>    
                    </div>
                </div>
                <div class="tab4 individual-tab-content-wrapper by-country">
                    <div class="title-unit-wrapper">
                        <p>Women's International</p>
                    </div>
                    <div class="table-wrapper">
                        <table class="table">                            
                            <thead class="table-column-container">
                                <tr>
                                    <td class="table-column">Alpha size</td>
                                    <td class="table-column">Numeric Size</td>
                                    <td class="table-column">Denim size</td>
                                    <td class="table-column">EU</td>
                                    <td class="table-column">JP</td>
                                    <td class="table-column">AU</td>
                                    <td class="table-column">UK</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table-row-container">
                                    <td class="table-row">XXS</td>
                                    <td class="table-row">0 (000)</td>
                                    <td class="table-row">30.5</td>
                                    <td class="table-row">23</td>
                                    <td class="table-row"></td>
                                    <td class="table-row"></td>
                                    <td class="table-row"></td>
                                </tr>
                                <tr class="table-row-container">
                                    <td class="table-row">XS</td>
                                    <td class="table-row">00 - 0</td>
                                    <td class="table-row">31.5 - 32.5</td>
                                    <td class="table-row">24 - 25</td>
                                    <td class="table-row">30 - 32</td>
                                    <td class="table-row">30 - 32</td>
                                    <td class="table-row">30 - 32</td>
                                </tr>
                                <tr class="table-row-container">
                                    <td class="table-row">S</td>
                                    <td class="table-row">2 - 4</td>
                                    <td class="table-row">26 - 27</td>
                                    <td class="table-row">34 - 36</td>
                                    <td class="table-row">34 - 36</td>
                                    <td class="table-row">34 - 36</td>
                                    <td class="table-row">34 - 36</td>
                                </tr>
                                <tr class="table-row-container">
                                    <td class="table-row">M</td>
                                    <td class="table-row">6 - 8</td>
                                    <td class="table-row">28 - 29</td>
                                    <td class="table-row">38 - 40</td>
                                    <td class="table-row">38 - 40</td>
                                    <td class="table-row">38 - 40</td>
                                    <td class="table-row">38 - 40</td>
                                </tr>
                                <tr class="table-row-container">
                                    <td class="table-row">L</td>
                                    <td class="table-row">10 - 12</td>
                                    <td class="table-row">30 - 31</td>
                                    <td class="table-row">42 - 44</td>
                                    <td class="table-row">42 - 44</td>
                                    <td class="table-row">42 - 44</td>
                                    <td class="table-row">42 - 44</td>
                                </tr>
                                <tr class="table-row-container">
                                    <td class="table-row">XL</td>
                                    <td class="table-row">14 - 16</td>
                                    <td class="table-row">32 - 33</td>
                                    <td class="table-row">46 - 48</td>
                                    <td class="table-row">46 - 48</td>
                                    <td class="table-row">46 - 48</td>
                                    <td class="table-row">46 - 48</td>
                                </tr>                            
                            </tbody>                            
                        </table>
                    </div>
                </div>
            </div>
        </div>        
        <div class="bottom-wrapper">
            <p>Still unsure? Contact us at <a href="mailto:size@reloopwear.com">size@reloopwear.com</a></p>
        </div>
    </div>    
</div>