<div class="modal-wrapper">
    <div class="modal-inner-wrapper">
        <div class="modal-title-wrapper">
            <h2 class="modal-title">SIZE GUIDE</h2>
            <p class="modal-close">X</p>
        </div>
        <div class="tabs-wrapper">
            <div class="title-wrapper">
                <h4 id="tab1" class="tab-title active">Size chart</h4>
                <h4 id="tab2" class="tab-title">Fit Guide</h4>
                <h4 id="tab3" class="tab-title">How to measure</h4>
                <h4 id="tab4" class="tab-title">Country/Region</h4>
            </div>        
            <div class="inner-wrapper">
                <div class="tab1 individual-tab-content-wrapper active">
                    <div class="title-unit-wrapper">
                        <p>Women's tops</p>           
                        <div class="unit-wrapper">
                            <h3>IN</h3>
                            <label class="switch">
                                <input class="switch-input" type="checkbox" />
                                <span class="switch-label" data-on="On" data-off="Off"></span> <span class="switch-handle"></span> 
                            </label>
                            <h3>CM</h3>
                        </div>                        
                    </div>
                    <div class="table-wrapper inch-table active">
                        <table class="table">                            
                            <thead class="table-column-container">
                                <tr>
                                    <td class="table-column"></td>
                                    <td class="table-column">US Numeric Size</td>
                                    <td class="table-column">Bust/Chest</td>
                                    <td class="table-column">Waist</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table-row-container">
                                    <td class="table-row">XXS</td>
                                    <td class="table-row">0 (000)</td>
                                    <td class="table-row">30.5</td>
                                    <td class="table-row">23</td>
                                </tr>
                                <tr class="table-row-container">
                                    <td class="table-row">XS</td>
                                    <td class="table-row">00 - 0</td>
                                    <td class="table-row">31.5 - 32.5</td>
                                    <td class="table-row">24 - 25</td>
                                </tr>
                                <tr class="table-row-container">
                                    <td class="table-row">S</td>
                                    <td class="table-row">2 - 4</td>
                                    <td class="table-row">33.5 - 34.5</td>
                                    <td class="table-row">26 - 27</td>
                                </tr>
                                <tr class="table-row-container">
                                    <td class="table-row">M</td>
                                    <td class="table-row">6 - 8</td>
                                    <td class="table-row">35.5 - 36.5</td>
                                    <td class="table-row">28 - 29</td>
                                </tr>
                                <tr class="table-row-container">
                                    <td class="table-row">L</td>
                                    <td class="table-row">10 - 12</td>
                                    <td class="table-row">37.75 - 39.25</td>
                                    <td class="table-row">30.25 - 31.75</td>
                                </tr>
                                <tr class="table-row-container">
                                    <td class="table-row">XL</td>
                                    <td class="table-row">18 - 20</td>
                                    <td class="table-row">44.75 - 46.75</td>
                                    <td class="table-row">38 - 40</td>
                                </tr>                            
                            </tbody>                            
                        </table>
                    </div>     
                    <div class="table-wrapper centi-table">
                        <table class="table">                            
                            <thead class="table-column-container">
                                <tr>
                                    <td class="table-column"></td>
                                    <td class="table-column">US Numeric Size</td>
                                    <td class="table-column">Bust/Chest</td>
                                    <td class="table-column">Waist</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table-row-container">
                                    <td class="table-row">XXS</td>
                                    <td class="table-row">0 (000)</td>
                                    <td class="table-row">12</td>
                                    <td class="table-row">9</td>
                                </tr>
                                <tr class="table-row-container">
                                    <td class="table-row">XS</td>
                                    <td class="table-row">00 - 0</td>
                                    <td class="table-row">12 - 13</td>
                                    <td class="table-row">9 - 10</td>
                                </tr>
                                <tr class="table-row-container">
                                    <td class="table-row">S</td>
                                    <td class="table-row">1 - 2</td>
                                    <td class="table-row">11 - 12</td>
                                    <td class="table-row">12 - 13</td>
                                </tr>
                                <tr class="table-row-container">
                                    <td class="table-row">M</td>
                                    <td class="table-row">3 -4</td>
                                    <td class="table-row">14 - 15</td>
                                    <td class="table-row">11 - 11</td>
                                </tr>
                                <tr class="table-row-container">
                                    <td class="table-row">L</td>
                                    <td class="table-row">11 - 11</td>
                                    <td class="table-row">11 - 11</td>
                                    <td class="table-row">11 - 11</td>
                                </tr>
                                <tr class="table-row-container">
                                    <td class="table-row">XL</td>
                                    <td class="table-row">11 - 11</td>
                                    <td class="table-row">11 - 11</td>
                                    <td class="table-row">11 - 11</td>
                                </tr>                            
                            </tbody>                            
                        </table>
                    </div>     
                </div>
                <div class="tab2 individual-tab-content-wrapper fit-guide">
                    <div class="title-unit-wrapper">
                        <p>Everyday reversible dress is a relazed fit.</p>
                    </div>         
                </div>
                <div class="tab3 individual-tab-content-wrapper how-measure">
                    <div class="title-unit-wrapper">
                        <p>How to measure</p>
                    </div>         
                </div>
                <div class="tab4 individual-tab-content-wrapper by-country">
                    <div class="title-unit-wrapper">
                        <p>Women's International</p>
                    </div>         
                </div>
            </div>
        </div>        
        <div class="bottom-wrapper">
            <p>Still unsure? Contact us at <a href="mailto:size@reloopwear.com">size@reloopwear.com</a></p>
        </div>
    </div>    
</div>